{% extends 'layout/base.html' %}
{% load i18n %}
{% load my_tags %}
{% load static %}

{% block title %}{% trans 'My Wishlist' %}{% endblock %}

{% block id %}id="product-sidebar-left"{% endblock %}
{% block class %}class="user-wishlist blog"{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="wrap-banner">
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="{% url 'shared:home' %}">
                                    <span>{% trans 'Home' %}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>{% trans 'My Wishlist' %}</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>
        </div>

        <div id="wrapper-site">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                        <div id="main">
                            <div id="content" class="page-content">
                                <h1 class="title-page">{% trans 'My Wishlist' %}</h1>

                                {% if wishlist_products %}
                                    <div class="row">
                                        {% for product in wishlist_products %}
                                            <div class="item text-center col-md-3">
                                                <div class="product-miniature js-product-miniature item-one first-item">
                                                    <div class="thumbnail-container border">
                                                        <a href="{% url 'products:detail' pk=product.id %}">
                                                            {% for image in product.images.all %}
                                                                <img class="img-fluid {% if forloop.first %}image-cover{% else %}image-secondary{% endif %}"
                                                                     src="{{ image.image.url }}" alt="img">
                                                            {% endfor %}
                                                        </a>
                                                    </div>
                                                    <div class="product-description">
                                                        <div class="product-groups">
                                                            <div class="product-title">
                                                                <a href="{% url 'products:detail' pk=product.id %}">
                                                                    {{ product.name }}
                                                                </a>
                                                            </div>
                                                            <div class="product-group-price">
                                                                <div class="product-price-and-shipping">
                                                                    {% if product.has_discount %}
                                                                        <span style="text-decoration: line-through;" class="price">${{ product.price_usd }}</span>
                                                                        <span class="price">${{ product.discount_price_usd }}</span>
                                                                    {% else %}
                                                                        <span class="price">${{ product.price_usd }}</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-buttons d-flex justify-content-center">
                                                            <a class="add-to-cart"
                                                               href="{% url 'products:cart' pk=product.id %}?next={{ request.get_full_path|urlencode }}"
                                                               data-button-action="add-to-cart">
                                                                <i {% if product|in_cart:request %}style="color: red;"{% endif %}
                                                                   class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                            </a>
                                                            <a class="addToWishlist"
                                                               href="{% url 'products:wishlist' pk=product.id %}?next={{ request.get_full_path|urlencode }}">
                                                                <i style="color: red;" class="fa fa-heart" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p>{% trans 'Your wishlist is empty.' %}</p>
                                {% endif %}

                                <div class="page-home" style="margin-top: 20px;">
                                    <a class="btn btn-default" href="{% url 'shared:home' %}">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span>{% trans 'Homepage' %}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}